

@media screen and (max-width: 832px) {
    
    .nav-list {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        padding: 1rem 0;
    }

    .nav-list li {
        padding: 5px ;
        font: 1.6rem;
    }

    
}