label {	float: left;
  width: 150px;}
#container{
width: 60%;
margin: auto;
background-color: beige;
} 

#container1{
  width: 60%;
  margin: auto;
  background-color: beige;
  overflow: scroll;
  padding-bottom: 5%;
} 
main{
padding: 50px;
}



table{
      background-color: rgb(252, 225, 225);
      border-collapse: collapse;
      width: 180%;
      overflow: scroll;
  }
  th,td{
      text-align: center;
      border:1px solid #5c0303;
      padding:8px;
  }